{% extends 'base.html.twig' %}

{% set message_active = true %}

{% block title %}Liste des messages{% endblock %}

{% block main_content %}
    {% for message in messages %}
        <h2><a href="{{ path('app_message_affichermessage',
            {'id':message.id}) }}">
                {{ message.libelle }}
            </a>
        </h2>

    {% endfor %}

    <a href="{{ path('app_message_creermessage') }}" class="btn btn-info btn-sm">Créer un nouveau message</a>
{% endblock %}
