{% extends 'base.html.twig' %}

{% set message_active = true %}

{% block title %}Affichage du messages{% endblock %}

{% block main_content %}
  <h2>Message actuellement visionné: {{message.libelle}}</h2>
  <p>
    <h3>Objet: </h3>
    {{message.objet}}</br>
    <h3>Contenu du message: </h3>
    {{message.contenu}}</br>
  </p>
  <a href="{{ path('app_message_listermessages') }}" class="btn btn-info btn-sm">
      <span class="fa fa-reply"></span> Retourner à la liste des messages
    </a>
{% endblock %}
