{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
		
		<ul style="list-style: none;" align="center">
			<li style="display: inline;"><a href="#" class="btn_style" style="display:inline-block" >Gérer les membres</a></li>
			<li style="display: inline;"><a href="#" class="btn_style" style="display:inline-block">Gérer les groupes</a></li>
			<li style="display: inline;"><a href="#" class="btn_style" style="display:inline-block">Gérer les protocoles</a></li>
			<li style="display: inline;"><a href="#" class="btn_style" style="display:inline-block">Gérer les messages</a></li>
		</ul>
		
		<br>
		
		<ul style="list-style: none;" align="center">
			<li style="display: inline;"><a href="#" class="btn_protocole" style="display:inline-block" >Executer Protocole</a></li>
		</ul>
		
        </div>
    </div>


	
{% endblock %}

{% block stylesheets %}
<style>
   
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
	
	.btn_style {
	background-color:#3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	}

	.btn_style:active {
		top:3px;
		background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
		background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
		background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(62,184,229)),
		color-stop(1, rgb(44,160,202))
		);
		-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
		-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
		-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
		box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	}

	

	.btn_style:active::before {
		top:50%;
		margin-top:-12px;
		-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
		-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
		-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
		box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	}
	
	.btn_protocole {
		background-color:#E00000;
		font-family: 'Open Sans', sans-serif;
		font-size:12px;
		text-decoration:none;
		color:#fff;
		position:relative;
		padding:10px 20px;
		background-image: linear-gradient(bottom, rgb(190,0,0) 0%, rgb(235,0,0) 100%);
		background-image: -o-linear-gradient(bottom, rgb(190,0,0) 0%, rgb(235,0,0) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(190,0,0) 0%, rgb(235,0,0) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(190,0,0) 0%, rgb(235,0,0) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(190,0,0) 0%, rgb(235,0,0) 100%);
		background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(190,0,0)),
		color-stop(1, rgb(235,0,0))
		);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: inset 0px 1px 0px #E00000, 0px 5px 0px 0px #A00000, 0px 10px 5px #999;
		-moz-box-shadow: inset 0px 1px 0px #E00000, 0px 5px 0px 0px #A00000, 0px 10px 5px #999;
		-o-box-shadow: inset 0px 1px 0px #E00000, 0px 5px 0px 0px #A00000, 0px 10px 5px #999;
		box-shadow: inset 0px 1px 0px #E00000, 0px 5px 0px 0px #A00000, 0px 10px 5px #999;
	}

	.btn_protocole:active {
		top:3px;
		background-image: linear-gradient(bottom, rgb(235,0,0) 0%, rgb(190,0,0) 100%);
		background-image: -o-linear-gradient(bottom, rgb(235,0,0) 0%, rgb(190,0,0) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(235,0,0) 0%, rgb(190,0,0) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(235,0,0) 0%, rgb(190,0,0) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(235,0,0) 0%, rgb(190,0,0) 100%);
		background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(235,0,0)),
		color-stop(1, rgb(190,0,0))
		);
		-webkit-box-shadow: inset 0px 1px 0px #E00000, 0px 2px 0px 0px #A00000, 0px 5px 3px #999;
		-moz-box-shadow: inset 0px 1px 0px #E00000, 0px 2px 0px 0px #A00000, 0px 5px 3px #999;
		-o-box-shadow: inset 0px 1px 0px #E00000, 0px 2px 0px 0px #A00000, 0px 5px 3px #999;
		box-shadow: inset 0px 1px 0px #E00000, 0px 2px 0px 0px #A00000, 0px 5px 3px #999;
	}

	

	.btn_protocole:active::before {
		top:50%;
		margin-top:-12px;
		-webkit-box-shadow: inset 0px 1px 0px #F00F0F, 0px 3px 0px #A00000, 0px 6px 3px #A00000;
		-moz-box-shadow: inset 0px 1px 0px #F00F0F, 0px 3px 0px #A00000, 0px 6px 3px #A00000;
		-o-box-shadow: inset 0px 1px 0px #F00F0F, 0px 3px 0px #A00000, 0px 6px 3px #A00000;
		box-shadow: inset 0px 1px 0px #F00F0F, 0px 3px 0px #A00000, 0px 6px 3px #A00000;
	}
</style>
{% endblock %}
