{% extends '::base.html.twig' %}
{% block body %}
    <h2>Information du groupe : {{ groupe.nomGroupe }}</h2>
    <p>Identifiant : {{ groupe.id }}</p>
    <p>Nom groupe : {{ groupe.nomGroupe }}</p>

{% endblock %}