{% extends '::base.html.twig' %}
{% block body %}
    <form action="{{ path ('app_groupe_ajouter') }}" method="POST">
        {{ form_widget(form) }}
        <input type="submit">
    </form>
{% endblock %}